<!DOCTYPE html>
<html>
  <head>
    <title>MMORPS</title>
  </head>
  <body>
    <h1>MMORPS</h1>
    <h5>Player | Score</h5>
    <h6>Human&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%="#{session[:player_score]}"%></h6>
    <h6>CPU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%="#{session[:cpu_score]}"%></h6>
    <h6><%=@winner%></h6>
    <h3>Choose Below!</h3>

  <form action="/game" method="post">
    <input type="submit" name="choice" value="Rock">
    <input type="submit" name="choice" value="Paper">
    <input type="submit" name="choice" value="Scissors">
  </form>
  </body>
</html>
